@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  background:
    radial-gradient(1000px 600px at 50% -10%, #e879f9 0%, #8b5cf6 40%, #312e81 90%),
}

body {
  background: transparent;
  color: #f9fafb;
}